<% provide(:page_title, 'All posts')%>
<% provide(:about_active, 'active')%>

<div class="row">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
  <%= link_to 'New Post', new_post_path %>
</div>

