.navbar {
    border-radius: 0;
    margin-bottom: 20px;
    .navbar-brand {
        font-weight: bolder;
        .light {
            font-weight: 300;
        }
    }
    .nav-item.author-nav{
    	img{
    		height: 30px;
    		width: 30px;
    		border-radius: 50%;
    	}
    }
   }